/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/*header*/


 #header-view {
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 5;
 }

#header-view #header {
  background-color: rgba(255, 255, 255, 0.960784);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  height: 50px;
}

 #header-view .header-view {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
}

#header-view #header .header-view.left {
  left: 0;
  height: 50px;
}

#header-view #header .header-view.right {
  right: 20px;
  height: 50px;
}

#logo {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0 auto;
  text-align: center;
}

.beer-logo img {
  height: 45px;
  width: 45px;
}

.main-logo img {
  width: 162px;;
}

.header-auth li img {
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

.header-auth li a {
  /*vertical-align: middle;*/
}

#header-view #header .main-logo {
  margin: auto;
}


.header-auth {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-align: center;
}

.header-auth li {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
  line-height: 18px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

#header-view ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin: 0;
}

.header-auth ul {
  display: -webkit-flex;
  display: flex;
}

.header-auth li a {
  color: #4a9fd5;
}

/*background*/
#main-page-background {
  background:
  radial-gradient(
    rgba(128, 128, 128, 0.4),
    rgba(128, 128, 128, 0.4)
  ), url('http://assets.lookbookspro.com/stewart-cohen/gs_53601d2d-9ca4-42aa-b3b3-0fbe0a627753.gif') no-repeat center center fixed;

  background-size: cover;
}

/*auth*/
.auth-view {
  padding: 0 70px;
  text-align: center;
  margin: auto;
  position: relative;
}

.auth-view h1 {
  color: #464553;
  font: bold 38px "Lato",sans-serif;
}

.auth-view h2 {
  color: #464553;
  font: bold 22px "Lato",sans-serif;
}

.auth-view .auth-error {
  color: red;
  font: bold, 15px "Lato",sans-serif;
  height: 15px;
  letter-spacing: .8px;
  margin: 0;
}

.login-form {
   margin: 30px 0 0;
}

.login-form fieldset{
  border-bottom: 1px solid #e7e7e7;
  padding: 1px 0 0;
  border: 0;
  margin: 30px 0 0;
  position: relative;
}

.login-input {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #464553;
  display: block;
  font: 14px/16px "Lato",sans-serif;
  height: 24px;
  margin: 0;
  width: 100%;
}

.login-form fieldset label {
  color: #9b9b9b;
  font: bold 12px "Lato",sans-serif;
  left: 0;
  letter-spacing: .8px;
  text-transform: uppercase;
  top: 0;
  -webkit-transition: color 250ms cubic-bezier(0,0,0.25,1);
  transition: color 250ms cubic-bezier(0,0,0.25,1);
  display: block;
  text-align: left;
}

.login-form input:focus ~ .divider{
    width: 100%;
}

.login-form .divider {
  background: #9b9b9b;
  bottom: -1px;
  height: 1px;
  left: 50%;
  -webkit-transition: all 250ms cubic-bezier(0,0,0.25,1);
  transition: all 250ms cubic-bezier(0,0,0.25,1);
}

.auth-view button {
  margin: 30px auto 0;
  width: 140px;
  background: #464553;
  border-radius: 20px;
  font: bold 14px/40px "Lato",sans-serif;
  height: 40px;
  padding: 0 20px;
  box-shadow: -5px 14px 17px 0 rgba(0,0,0,0.2);
  color: white;
  letter-spacing: .8px
}

.auth-button {
  border: 0;
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.auth-view p {
  color: #464553;
  font: 14px "Lato",sans-serif;
  margin: 20px 0 0;
}

.auth-view a {
  color: #6988c9;
  text-decoration: underline;
}

/*search*/
.search-view {
  position: relative;
  z-index: 2;
  padding: 90px 0;
}

.search-view .search-welcome {
  margin: 0 auto;
  /*width: 794px;*/
  text-align: center;
  /*height: 80px;*/
  position: relative;
  margin: 37px 0 41px 0;
}

.search-view .search-welcome h2 {
  color: white;
  font: bold 41px "Lato",sans-serif;
  text-shadow: 2px 7px 4px #000000;
}

.search-view .search-welcome p {
  color: white;
  font: bold 35px "Charter",Georgia,serif;
  margin: 0;
  text-shadow: 2px 5px 4px #000000;
}

/*.search-form {

}*/

.search-form {
  display: flex;
  /*flex: 0 0 546px;*/
  position: relative;
  width: 546px;
  z-index: 3;
  margin: 0 auto ;
  width: 786px;

}

.search-form form {
  background: rgba(255, 255, 255, 0.960784);
  border-radius: 5px;
  margin: 11px 0 0;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 4px 4px #000000;
  width: 100%;
  height: 44px;
}

.search-form  fieldset {
  background: white;
  position: relative;
  border: 2px solid #4bbfbb;
  border-radius: 3px 0 0 3px;
}

.search-form  input {
  /*backface-visibility: hidden;*/
  background: transparent;
  font: 25px "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*height: 45px;*/
  margin: 0;
  position: relative;
  z-index: 1;
  border: white;
  padding: 0px 10px 0 0;
  width: 100%;
}

.search-form label {
  display: flex;
}

.search-form img {
  height: 32px;
  width: 32px;
  padding: 0 10px 0 0;
}

.search-form  button {
  flex: 0 0 114px;
  width: 114px;
  background: #4bbfbb;
  display: block;
  border: 2px solid #4bbfbb;
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font: bold 28px/42px "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 44px;
  padding: 0;
  width: 100%;
}

.nav-logo {
  display: flex;
  padding: 2px 37% 0px;
}

/*.nav-logo img {
  box-shadow: 10px 10px 5px black;
}*/

.nav-logo .logo {
  align-items: center;
  /*background-color: white;*/
  padding: 0 90px 0 0;
}

.nav-logo .logo-text {
  color: white;
  font: bold 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 5px 5px 5px black;
}

/*bars view*/
.bars-index {
  width: 407px;
  position: absolute;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
  background: #f9f9f9;
  border-radius: 1px;
  left: 17px;
  top: 150px;
  bottom: 17px;
}

.bars-index .scroll-view {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*width: 100%;*/
}

.bars-index ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 2px;
}

.bar-index-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  width: 100%;
}

.bar-index-card {
  padding: 14px 11px;
  position: relative;
  display: flex;
  border-bottom: 1px solid #90a7a6;
}

.bar-index-card .bar-info {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.bar-index-item .bar-index-card a {
  position: relative;
  border-right: 12px solid transparent;
  border-left: none;
}

.bar-index-item .bar-index-card img {
  border-radius: 4px;
  vertical-align: middle;
}

.bar-info .rating {
  padding: 6px 0 0 0;
}

.bar-info .rating img {
  width: 102px;
  padding: 0 11px 0 0;
}

.bar-info .rating a {
  color: black;
}


.neighborhoods {
    padding: 6px 0;
    color: #168480;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.bar-info .label {
  font-weight: normal;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.3125em;
  display: inline;
  padding: 3px 0;
  color: #168480;
  text-decoration: none;
  word-wrap: break-word;
  font: bold 19px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.map-view {
  height: 900px;
  /*width: 900px;*/
}

.map-view .map {
  height: 100%;
  /*width: 100%*/
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 18px;
}

div {
  display: block;
}

li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

ul{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

form {
    display: block;
    margin-top: 0em;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

button {
    outline: 0;
    cursor: pointer;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a:link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
