/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #header-view {
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 5;
 }

#header-view #header {
  background-color: rgba(255, 255, 255, 0.960784);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  height: 50px;
}

 #header-view .header-view {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
}

#header-view #header .header-view.left {
  left: 0;
  height: 50px;
}

#header-view #header .header-view.right {
  right: 20px;
  height: 50px;
}

#logo {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0 auto;
  text-align: center;
}

.beer-logo img {
  height: 45px;
  width: 45px;
}

.main-logo img {
  width: 162px;;
}

.header-auth li img {
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

.header-auth li a {
  /*vertical-align: middle;*/
}

#header-view #header .main-logo {
  margin: auto;
}


.header-auth {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-align: center;
}

.header-auth li {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
  line-height: 18px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

#header-view ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin: 0;
}

.header-auth ul {
  display: -webkit-flex;
  display: flex;
}

.header-auth li a {
  color: #4a9fd5;
}

#main-page-background {
  background:
  radial-gradient(
    rgba(128, 128, 128, 0.45),
    rgba(128, 128, 128, 0.45)
  ), url('http://assets.lookbookspro.com/stewart-cohen/gs_53601d2d-9ca4-42aa-b3b3-0fbe0a627753.gif') no-repeat center center fixed;

  background-size: cover;
}

.auth-view {
  padding: 0 70px;
  text-align: center;
  margin: auto;
  position: relative;
}

.auth-view h1 {
  color: #464553;
  font: bold 38px "Lato",sans-serif;
}

.auth-view h2 {
  color: #464553;
  font: bold 22px "Lato",sans-serif;
}

.auth-view .auth-error {
  color: red;
  font: bold, 15px "Lato",sans-serif;
  height: 15px;
  letter-spacing: .8px;
  margin: 0;
}

.login-form {
   margin: 30px 0 0;
}

.login-form fieldset{
  border-bottom: 1px solid #e7e7e7;
  padding: 1px 0 0;
  border: 0;
  margin: 30px 0 0;
  position: relative;
}

.login-input {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #464553;
  display: block;
  font: 14px/16px "Lato",sans-serif;
  height: 24px;
  margin: 0;
  width: 100%;
}

.login-form fieldset label {
  color: #9b9b9b;
  font: bold 12px "Lato",sans-serif;
  left: 0;
  letter-spacing: .8px;
  text-transform: uppercase;
  top: 0;
  -webkit-transition: color 250ms cubic-bezier(0,0,0.25,1);
  transition: color 250ms cubic-bezier(0,0,0.25,1);
  display: block;
  text-align: left;
}

.login-form input:focus ~ .divider{
    width: 100%;
}

.login-form .divider {
  background: #9b9b9b;
  bottom: -1px;
  height: 1px;
  left: 50%;
  -webkit-transition: all 250ms cubic-bezier(0,0,0.25,1);
  transition: all 250ms cubic-bezier(0,0,0.25,1);
}

.auth-view button {
  margin: 30px auto 0;
  width: 140px;
  background: #464553;
  border-radius: 20px;
  font: bold 14px/40px "Lato",sans-serif;
  height: 40px;
  padding: 0 20px;
  box-shadow: -5px 14px 17px 0 rgba(0,0,0,0.2);
  color: white;
  letter-spacing: .8px
}

.auth-button {
  border: 0;
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.auth-view p {
  color: #464553;
  font: 14px "Lato",sans-serif;
  margin: 20px 0 0;
}

.auth-view a {
  color: #6988c9;
  text-decoration: underline;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 18px;
}

div {
  display: block;
}

li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

ul{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

form {
    display: block;
    margin-top: 0em;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

button {
    outline: 0;
    cursor: pointer;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a:link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
